html, body {
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
}

p {
  color: hsl(215, 51%, 70%);
  font-weight: 100;
}

footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 320px;
}

span {
  color: white;
  cursor: pointer;
  font-weight: 400;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  margin: 30px auto 15px auto;
}

/* main card */

.container {
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: -4px 15px 15px 22px hsl(217, 54%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 20px;
  max-width: 350px;
}

/* main image section - including overlay for active state*/

.image-container {
  position: relative;
  border-radius: 10px;
  max-width: 320px;
  overflow: hidden;
}

.equilibrium-image {
  border-radius: 10px;
  display: block;
  max-width: 320px;
  position: relative;
  z-index: 4;
}

.equilibrium-image:active {
  cursor: pointer;
  z-index: 1;
}

.green-overlay {
  position: absolute;
  height: 320px;
  width: 320px;
  top: 0;
  background-color: hsl(178, 100%, 50%);
  z-index: 2;
  opacity: 60%;
}

.view-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  z-index: 3;
}

/* written info underneath card*/

.main-content {
  max-width: 320px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.stat-eth {
  display: inline;
  text-align: left;
}

.stat-clock {
  display: inline;
  text-align: right;
}

.clock-image, .eth-image, .clock, .eth {
  display: inline;
}

.eth {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

/* footer components*/

.avatar {
  max-width: 40px;
  max-height: 40px;
  border: solid white;
  border-radius: 50%;
}

.credit {
  margin-left: 20px;
}
